* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: #f4f4f7;
  color: #444;
}

.navBar {
  background: rgb(244, 244, 247); /*rgba(255, 255, 255, 0.96);*/
  position: fixed;
  min-width: 100%;
  z-index: 100;
  transition: box-shadow .10s ease-in-out;
}

.navBar.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper {
  margin: 0 auto;
  max-width: 1138px;
  padding: 0 2%;
}

.wrapper input {
  display: none;
}

nav ul {
  height: 0;
  list-style-type: none;
  opacity: 0;
  text-align: center;
  transition: all 1s ease;
  width: 100%;
  visibility: hidden;
  padding: 0;
  margin: 10px 0;
}

nav li {
  border-bottom: 2px solid grey;
  display: block;
  font-size: 1.5em;
  padding: 1em 0;
}

 #menu-toggle:checked ~ ul {
  opacity: 1;
  height: 100vh;
  visibility: visible;
}

.label-toggle {
  background: linear-gradient(to bottom, grey 0%, grey 20%, transparent 20%, transparent 40%, grey 40%, grey 60%, transparent 60%, transparent 80%, grey 80%, grey 100%); //Gradient Hamburger
  cursor: pointer;
  display: block;
  float: right;
  height: 35px;
  margin-top: 1em;
  width: 35px;
}

#crullian {
  font-weight: 200;
  display: inline-block;
  font-size: 2rem;
  margin: 10px 0 0 0;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  display: block;
  text-decoration: none; 
  color: #444;
}

.content {
  padding: 70px 20px 0;
}

.flex-container {
  padding: 0 8px;
}

.image {
  width: 100%;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #c1bfbf;
}

.title {
  font-weight: 300;
}

.music {
  padding: 10px 13px 40px;
}

audio {
  width: 100%;
}

.title,
.music p,
.theArt p,
.web p {
  text-align: center;
}

.man {
  width: 95%;
  margin: 0 auto;
}

.man .section.copy p {
  margin-bottom: 0;
}

.theArt, .web {
  padding-bottom: 50px;
}

.desktop-only {
  display: none;
}

canvas {
  width: 100%;
}

.social {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.social a {
  display: inline-block;
}

.social a:last-child {
  width: 50px;
}

.social img {
  width: 50px;
}

.active {
  font-weight: bold;
}

@media (min-width: 768px) {

  #menu-toggle {
    display: none;
  }
  
  .label-toggle {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 40%;
    opacity: 1;
    visibility: visible;
  }

  nav a {
    text-decoration: none;
    transition: all .5s ease;
  }

  nav li  {
    display: inline-block;
    border: none;
    font-size: 1em;
    padding: 0;
  }

  nav .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .flex-container {
    display: flex;
    flex-flow: column;
    width: 500px;
    margin: 0 auto;
    padding: 0;
  }

  .theArt,
  .web {
    display: inline-block;
  }

  .music {
    display: inline-block;
  }

  .man .section {
    display: inline-block;
    width: 50%;
  }

  .man .section.copy {
    float: right;
    padding: 20px;
  }

  .man {
    width: 75%;
  }
}

@media (min-width: 1074px) {

  .flex-container {
    width: 1000px;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .theArt,
  .music,
  .web {
    width: 450px;
    display: inline-block;
  }

  .man {
    width: 85%;
  }

  .man.cv {
    padding: 20px;
  }

  .man .image {
    width: 95%;
  }

  .desktop-only {
    display: block;
  }
}
