* {
  box-sizing: border-box;
}

body {
  font-family: "century Gothic";
  padding: 0 20px 0;
  background: #f4f4f7;
  color: #444;
}

.nav {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin: 10px 9px;
}

#crullian {
  margin: 0 auto;
  font-size: 2.1875rem;
  margin-bottom: 20px;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  display: block;
  text-decoration: none; 
  color: #444;
}

.image {
  width: 100%;
  box-shadow: 10px 10px 20px #c1bfbf;
}

.title {
  margin: 20px;
  font-weight: 300;
}

.music {
  padding: 10px 13px 40px;
}

audio {
  width: 100%;
}

#crullian,
.title,
.music p,
.theArt p,
.web p {
  text-align: center;
}

.man {
  width: 95%;
  margin: 0 auto;
}
 
.man .image {
  margin-top: 20px;
}

.man .section.copy p {
  margin-bottom: 0;
}

.theArt, .web {
  padding-bottom: 30px;
}

.desktop-only {
  display: none;
}

canvas {
  width: 100%;
}

@media (min-width: 768px) {

  #crullian,
  .title {
    padding-left: 95px;
  }

  .nav {
    display: inline-block;
    position: fixed;
    top: 70px;
    padding: 0;
  }

  .nav li {
    display: block;
    margin: 1em 0;
  }

  .man .section {
    display: inline-block;
    width: 50%
  }

  .man .section.copy {
    float: left;
    padding: 20px;
  }

  .flex-container {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    padding-left: 18%;
  }

  .theArt,
  .web {
    width: 80%;
    display: inline-block;
  }

  .music {
    width: 80%;
    display: inline-block;
  }

  .man{
    width: 65%;
  }
}

@media (min-width: 768px) {
  .nav {
    text-align: left;
  }

  .flex-container {
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    column-count: 1;
    column-gap: 10px;
    padding-left: 23%;
  }

  .man{
    width: 75%;
  }
}

@media (min-width: 1074px) {
  .flex-container {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    padding-left: 12%;
  }

  .theArt,
  .web {
    width: 90%;
    display: inline-block;
  }

  .music {
    width: 90%;
    display: inline-block;
  }

  .man {
    width: 85%;
    margin-right: 50px;
  }

  .man .image {
    width: 95%;
  }

  .desktop-only {
    display: block;
  }
}

