* {
  box-sizing: border-box;
}

body {
  font-family: "Didot";
  padding: 0 20px 0;
  background: #f4f4f7;
  color: #444;
}

#crullian {
  width: 275px;
  margin: 0 auto;
  font-size: 45px;
}

#connect {
  width: 300px;
}

#pixel {
  width: 500px;
}

#work {
  width: 600px;
}

#edj {
  width: 500px;
}

.each {
  padding-bottom: 20px;
}

.title {
  text-align: center;
  margin: 20px;
  font-weight: 300;
}

li {
  list-style-type: none;
  margin: 1em 0;
}

a {
  display: block;
  /*padding: 0 20px;*/
  text-decoration: none; 
  color: #444;
}

.nav {
  display: inline-block;
  position: fixed;
  top: 40px;
  padding: 0;
}

.theMan {
  width: 500px;
  margin: 0 auto;
}

.music {
  text-align: left;
  width: 400px;
  margin: 0 auto;
  padding: 50px;
}

.theArt {
  width: 600px;
  margin: 0 auto;
}

.web {
  width: 500px;
  margin: 0 auto;  
}

.error {
  color: rgb(255, 0, 142);
  background-color: rgba(43,43,43, .8);
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  margin: 50px auto;
}

@media (max-width: 640px) {
    body{
    padding: none;
  }

/*  .nav {
    position: relative;
    display: block;
    width: 465px;
    margin: 0 auto;
    top: 0px;
  }*/

/*  .nav p {
    display: inline-block;
    margin: 10px 8%;
  }*/

  .theMan {
    width: 350px;
  }
  #pixel {
    width: 350px;
  }

  .music {
    width: 350px;
    padding: 20px 0px;
  }

  #connect {
    width: 350px;
  }

  audio {
    /*position: relative;*/
    width: 100%;
  }

  .theArt {
    width: 350px;
    padding-bottom: 20px;
  }

  #work {
    width: 350px;
    height: 100%;
  }

  .theArt p {
    margin: 0;
    padding-left: 20px;
  }
  
  .web {
    width: 350px;
    height: 100%;
  }
  #edj {
    width: 350px;
    height: 100%;   
  }

  .desktop-only {
    display: none;
  }

  .error {
    width: 350px;
  }
}

@media (max-width: 414px) {
  body{
    padding: none;
  }

  .nav {
    position: relative;
    display: block;
    width: 265px;
    margin: 0 auto;
    top: 0px;
  }

  .nav p {
    display: inline-block;
    margin: 10px 5%;
  }

  .theMan {
    width: 250px;
  }
  #pixel {
    width: 250px;
  }

  .music {
    width: 250px;
    padding: 20px 0px;
  }

  #connect {
    width: 250px;
  }

  audio {
    /*position: relative;*/
    width: 100%;
  }

  .theArt {
    width: 250px;
    padding-bottom: 20px;
  }

  #work {
    width: 250px;
    height: 100%;
  }

  .theArt p {
    margin: 0;
    padding-left: 20px;
  }
  
  .web {
    width: 250px;
    height: 100%;
  }
  #edj {
    width: 250px;
    height: 100%;   
  }

  .desktop-only {
    display: none;
  }

  .error {
    width: 250px;
  }
}